* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
.cards::-webkit-scrollbar {
  width: 3px; /* ширина scrollbar */
}
.cards::-webkit-scrollbar-track {
  background: white; /* цвет дорожки */
}
.cards::-webkit-scrollbar-thumb {
  background-color: green; /* цвет плашки */
  border-radius: 20px; /* padding вокруг плашки */
}
